@import url('https://fonts.googleapis.com/css?family=Quicksand'); /*import der Schriftart*/

html, body {
    padding: 0;
    margin: 0;
    color: #ffffff;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;

    background-color: rgb(250, 250, 250);
    color: #FF0000;

    background-color: #808080;      /*hellgrau*/

    box-sizing: border-box;
    height: 100%;
}

@media (max-width: 768px) {
    html {
        font-size: 12pt;
    }
}

header {
    background: #073045;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    position: sticky;   /*Beim Scrollen verschwindet der Header irgendwann, die Navigation bewegt sich beim Scrollen nach oben – und bleibt dort stehen*/
}

header, main {
    padding: 1rem;
}

/* Titelzeile */
#titlebar {
    color: #7B0000; /*Weinrot*/
    font-size: 260%;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    #titlebar {
        font-size: 160%;
    }
}

#titlebar > * {
    display: inline-block;
}
#titlebar .logo {
    height: 78px;
    width: 201px;
}

#titlebar .appname {
    color: #FF0000; /*Rot*/
}

/* Menüzeile */
#menubar .menuitem {
    display: inline-block;
    padding-right: 2em;
    padding-bottom: 0.5em;
}

/* Farben für Links */
a, a:visited {
    color:#ff0000;  /*sattes Rot*/
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}