@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?21861363');
  src: url('../font/fontello.eot?21861363#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?21861363') format('woff2'),
       url('../font/fontello.woff?21861363') format('woff'),
       url('../font/fontello.ttf?21861363') format('truetype'),
       url('../font/fontello.svg?21861363#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?21861363#fontello') format('svg');
  }
}
*/
 
 [class^="icon-home"]:before, [class*=" icon-home"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-homelogin:before { content: '\e800'; } /* '' */
.icon-homepencil:before { content: '\e801'; } /* '' */
.icon-hometrash-empty:before { content: '\e802'; } /* '' */
.icon-homedoc:before { content: '\e803'; } /* '' */
.icon-homehome:before { content: '\e804'; } /* '' */
.icon-homecog:before { content: '\e805'; } /* '' */
.icon-homecog-alt:before { content: '\e806'; } /* '' */
.icon-homewrench:before { content: '\e807'; } /* '' */
.icon-homelogout:before { content: '\e808'; } /* '' */
.icon-homeuser:before { content: '\e809'; } /* '' */
.icon-homesearch:before { content: '\e80a'; } /* '' */
.icon-hometh:before { content: '\e80b'; } /* '' */
.icon-homeuser-plus-1:before { content: '\e80c'; } /* '' */
.icon-homedocs:before { content: '\f0c5'; } /* '' */
.icon-homedoc-text:before { content: '\f0f6'; } /* '' */
.icon-homedoc-inv:before { content: '\f15b'; } /* '' */
.icon-homedoc-text-inv:before { content: '\f15c'; } /* '' */
.icon-hometrash:before { content: '\f1f8'; } /* '' */
.icon-homeuser-times:before { content: '\f235'; } /* '' */
.icon-homeuser-circle:before { content: '\f2bd'; } /* '' */
.icon-homeuser-circle-o:before { content: '\f2be'; } /* '' */
.icon-homeuser-o:before { content: '\f2c0'; } /* '' */
.icon-homeid-card:before { content: '\f2c2'; } /* '' */
.icon-homeid-card-o:before { content: '\f2c3'; } /* '' */