
.icon-homelogin:before { content: '\e800'; } /* '' */
.icon-homepencil:before { content: '\e801'; } /* '' */
.icon-hometrash-empty:before { content: '\e802'; } /* '' */
.icon-homedoc:before { content: '\e803'; } /* '' */
.icon-homehome:before { content: '\e804'; } /* '' */
.icon-homecog:before { content: '\e805'; } /* '' */
.icon-homecog-alt:before { content: '\e806'; } /* '' */
.icon-homewrench:before { content: '\e807'; } /* '' */
.icon-homelogout:before { content: '\e808'; } /* '' */
.icon-homeuser:before { content: '\e809'; } /* '' */
.icon-homesearch:before { content: '\e80a'; } /* '' */
.icon-hometh:before { content: '\e80b'; } /* '' */
.icon-homeuser-plus-1:before { content: '\e80c'; } /* '' */
.icon-homedocs:before { content: '\f0c5'; } /* '' */
.icon-homedoc-text:before { content: '\f0f6'; } /* '' */
.icon-homedoc-inv:before { content: '\f15b'; } /* '' */
.icon-homedoc-text-inv:before { content: '\f15c'; } /* '' */
.icon-hometrash:before { content: '\f1f8'; } /* '' */
.icon-homeuser-times:before { content: '\f235'; } /* '' */
.icon-homeuser-circle:before { content: '\f2bd'; } /* '' */
.icon-homeuser-circle-o:before { content: '\f2be'; } /* '' */
.icon-homeuser-o:before { content: '\f2c0'; } /* '' */
.icon-homeid-card:before { content: '\f2c2'; } /* '' */
.icon-homeid-card-o:before { content: '\f2c3'; } /* '' */